/* General styles */
.dashboard-container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background: ghostwhite ;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-family: "Arial", sans-serif;
  }
  
  label {
    font-size: 1em;
    font-weight: bold;
  }

  span {
    font-size: 1em;
    font-weight: bold;
    color: cornflowerblue
  }

  /* Responsive Design */
  @media (max-width: 600px) {
    .dashboard-container {
      width: 90%;
      padding: 15px;
    }
  }
  